@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
