@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;
}

.weather-container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.weather-card {
  height: 400px;
}
